<mat-card class="social-post">
  <mat-card-header>
    <div
      mat-card-avatar
      class="user-avatar"
      [ngStyle]="{ 'background-image': 'url(' + posterImageUrl + ')' }"
    >
      <a href="user/{{ post.poster.userName }}" class="w-full h-full block"></a>
    </div>

    <mat-card-title>{{ post.title }}</mat-card-title>
    <mat-card-subtitle
      ><a
        href="user/{{ post.poster.userName }}"
        class="text-blue-500 hover:underline"
        >&#x40;{{ post.poster.userName }}</a
      >
    </mat-card-subtitle>
    <mat-card-subtitle>{{ post.date }}</mat-card-subtitle>
  </mat-card-header>

  <div class="bg-[#18191a]">
    <img
      mat-card-image
      *ngIf="ContentImageUrl"
      [src]="ContentImageUrl"
      alt="Post"
      class="mx-auto"
    />
  </div>

  <mat-card-content>
    <p class="p-5 text-lg">{{ post.content }}</p>
  </mat-card-content>

  <mat-divider></mat-divider>

  <mat-card-actions>
    <button mat-button (click)="votePost(1)">
      <mat-icon>thumb_up</mat-icon> {{ post.likes }}
    </button>
    <button mat-button (click)="votePost(0)">
      <mat-icon>thumb_down</mat-icon> {{ post.dislikes }}
    </button>
    <button mat-button (click)="commentPost()">
      {{ post.subPostsIds.length }} <mat-icon>comment</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
