<form
  class="container bg-gradient-to-br from-blue-600 to-green-500"
  (submit)="onSubmit()"
  [formGroup]="form"
>
  <mat-card class="social-post w-full flex flex-col gap-5">
    <mat-card-header>
      <button
        type="button"
        mat-icon-button
        color="warn"
        class="ms-auto"
        (click)="onClose()"
      >
        <mat-icon>close</mat-icon>
      </button>
      <mat-card-title>
        <h1 class="text-black">Edit profile</h1>
      </mat-card-title>
    </mat-card-header>

    <div class="px-5 flex flex-col gap-1">
      <mat-form-field class="w-full" subscriptSizing="dynamic">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Email" />
      </mat-form-field>

      <button type="button" mat-raised-button (click)="pictureInput.click()">
        Change Picture
      </button>
      <input
        hidden
        #pictureInput
        type="file"
        accept="image/*"
        placeholder="attachment"
        (change)="onPictureSelect($event)"
        class="ps-4"
      />

      <button type="button" mat-raised-button (click)="coverInput.click()">
        Change Cover
      </button>
      <input
        hidden
        #coverInput
        type="file"
        accept="image/*"
        placeholder="attachment"
        (change)="onCoverSelect($event)"
        class="ps-4"
      />

      <div class="relative w-auto h-40 mt-5 mb-20">
        <img
          *ngIf="coverPreview"
          [src]="coverPreview"
          alt="Cover"
          draggable="false"
          class="absolute object-cover object-center w-full h-full rounded-md"
        />
        <img
          *ngIf="picturePreview"
          [src]="picturePreview"
          alt="Profile"
          draggable="false"
          class="absolute object-cover rounded-full aspect-square w-20 select-none z-10 -bottom-14 left-5 p-1 bg-white"
        />
      </div>

      <mat-form-field class="w-full" subscriptSizing="dynamic">
        <mat-label>Phone Number</mat-label>
        <input
          matInput
          formControlName="phoneNumber"
          placeholder="Phone Number"
        />
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Bio</mat-label>
        <textarea
          matInput
          formControlName="bio"
          maxlength="256"
          placeholder="Talk about yourself"
        ></textarea>
        <mat-hint align="start"
          ><strong>What is on your mind?</strong>
        </mat-hint>
        <mat-hint align="end"
          >{{ form.get("bio")?.value?.length }} / 256</mat-hint
        >
      </mat-form-field>
    </div>

    <mat-divider></mat-divider>

    <mat-card-actions>
      <button
        mat-raised-button
        type="submit"
        color="primary"
        class="flex-grow text-lg m-2"
      >
        Save
      </button>
    </mat-card-actions>
  </mat-card>
</form>
