<mat-toolbar color="primary" class="desktop-footer">
  <div class="footer-content">
    <span>© 2024 FB Mini, All Rights Reserved</span>

    <span class="spacer"></span>

    <a
      mat-button
      href="https://github.com/mhdeeb/fbmini"
      target="_blank"
      rel="noopener"
      >GitHub</a
    >
  </div>
</mat-toolbar>

<mat-toolbar color="primary" class="mobile-footer">
  <a
    mat-button
    href="https://github.com/mhdeeb/fbmini"
    target="_blank"
    rel="noopener"
    >GitHub</a
  >
</mat-toolbar>
