.desktop-footer {
  background-color: #00000080;

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.mobile-footer {
  display: none;
  background-color: #00000080;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}

@media (max-width: 768px) {
  .desktop-footer {
    display: none;
  }
  .mobile-footer {
    display: inline-flex;
  }
}
