<section class="min-h-[40rem] bg-[var(--bg-header)] pt-10 text-white">
  <div
    class="mx-10 rounded-md bg-cover bg-center relative h-96 mt-10 bg-gradient-to-r from-[var(--bg-gradient2-from)] to-[var(--bg-gradient2-to)]"
  >
    <div *ngIf="Urls.cover">
      <img
        [src]="Urls.cover"
        alt="Cover"
        draggable="false"
        class="object-cover object-center h-96 w-full rounded-md"
      />
    </div>
    <div class="profile-picture-container">
      <div class="profile-picture">
        <img
          [src]="Urls.picture"
          alt="Profile"
          draggable="false"
          class="object-cover p-2 bg-[var(--bg-header)] rounded-full aspect-square w-48 select-none"
        />
        <div
          *ngIf="isOwner"
          class="p-1 rounded-full bg-[var(--bg-header)] absolute right-4 bottom-0"
        >
          <button
            aria-label="Edit"
            class="bg-gray-400 rounded-full aspect-square w-10 hover:bg-opacity-50"
            (click)="editProfile()"
          >
            <mat-icon class="translate-y-1">edit</mat-icon>
          </button>
        </div>
      </div>
      <span class="text-4xl ml-[17rem] flex flex-col gap-1"
        >{{ profile.userName }}
        <div class="font-normal text-base opacity-50">
          <div *ngIf="profile.email" class="flex gap-2">
            <mat-icon>email</mat-icon> <span>{{ profile.email }}</span>
          </div>
          <div *ngIf="profile.phoneNumber" class="flex gap-2">
            <mat-icon>phone</mat-icon> <span>{{ profile.phoneNumber }}</span>
          </div>
        </div>
        <div class="text-sm text-slate-400 max-w-[30rem]">
          {{ profile.bio }}
        </div>
      </span>
    </div>
  </div>
</section>
