<form (submit)="onSubmit()" autocomplete="off">
  <mat-form-field subscriptSizing="dynamic">
    <mat-label>search user</mat-label>
    <input
      type="search"
      matInput
      autocomplete="off"
      autocorrect="off"
      spellcheck="false"
      aria-label="Search"
      placeholder="search"
      aria-label="search"
      [formControl]="searchQuery"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete
      autoActiveFirstOption
      #auto="matAutocomplete"
      (optionSelected)="onSubmit()"
    >
      @for (option of filteredOptions | async; track option) {
      <mat-option [value]="option">{{ option }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</form>
