.social-post {
  margin: 20px auto;
  min-width: 500px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: black;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
}

mat-card-actions button {
  color: #3f51b5;
  font-size: large;
}
.container {
  margin-inline: auto;
  padding-inline: 3rem;
}
